In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings("ignore")  
from scipy.stats import chi2_contingency 
from scipy.stats import ttest_ind

In [14]:
sns.set_style("whitegrid")
sns.set_theme(style="dark")
plt.style.use('Solarize_Light2')

In [15]:
df = pd.read_csv("datos_limpios_final.csv", index_col = 0)

In [16]:
df.columns

Index(['age', 'attrition', 'distance_from_home', 'education',
       'environment_satisfaction', 'gender', 'job_involvement', 'job_level',
       'job_role', 'job_satisfaction', 'marital_status', 'monthly_rate',
       'num_companies_worked', 'percent_salary_hike', 'performance_rating',
       'relationship_satisfaction', 'stock_option_level',
       'total_working_years', 'training_times_last_year', 'work_life_balance',
       'years_at_company', 'years_since_last_promotion',
       'years_with_curr_manager', 'remote_work', 'hourly_rate'],
      dtype='object')

In [17]:
df.head()

,age,attrition,distance_from_home,education,environment_satisfaction,gender,job_involvement,job_level,job_role,job_satisfaction,marital_status,monthly_rate,num_companies_worked,percent_salary_hike,performance_rating,relationship_satisfaction,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_since_last_promotion,years_with_curr_manager,remote_work,hourly_rate
0,51,N,6.0,3,1,M,3,5,Research Director,3,Unknown,6462,7,13,3.0,3,0,NaN,5,3.0,20,15,15,Y,51.0
1,52,N,1.0,4,3,M,2,5,Manager,3,Unknown,5678,0,14,3.0,1,1,34.0,5,3.0,33,11,9,Y,65.0
2,42,N,4.0,2,3,M,3,5,Manager,4,Married,4933,1,11,3.0,4,0,22.0,3,3.0,22,11,15,Y,58.0
3,47,N,2.0,4,1,F,3,4,Research Director,3,Married,26703,3,19,3.0,2,2,NaN,2,3.0,20,5,6,N,82.0
4,46,N,3.0,3,1,F,4,4,Sales Executive,1,Divorced,7739,2,12,3.0,4,1,NaN,5,3.0,19,2,8,N,45.0

In [19]:
# Crear una función de mapeo
def asignar_grupos(valor):
    if valor >= 3:
        return "Group A"
    else:
        return "Group B"

# Aplicar la función de mapeo a la columna 'Columna'
df['job_satisfaction2'] = df['job_satisfaction'].map(asignar_grupos)
df['environment_satisfaction2'] = df['environment_satisfaction'].map(asignar_grupos)
df['work_life_balance2'] = df['work_life_balance'].map(asignar_grupos)

In [22]:
def asignar_grupos2(valor_años, valor_salario):
    mediana_años = df['years_since_last_promotion'].median()
    mediana_salario = df['hourly_rate'].median()
    if valor_años >= mediana_años:
        return "Group A"
    if valor_salario >= mediana_salario:
        return "Group A"
    else:
        return "Group B"

df['years_since_last_promotion2'] = df['years_since_last_promotion'].map(asignar_grupos)
df['hourly_rate2'] = df['hourly_rate'].map(asignar_grupos)

In [31]:
# def porcentaje_ido(df, columna):
#     empleados_por_grupo = df.groupby(columna).size()
#     empleados_idos_por_grupo = df[df['attrition'] == 'Y'].groupby(columna).size()
#     tasa_rotacion_por_grupo = (empleados_idos_por_grupo / empleados_por_grupo) * 100
    
#     return tasa_rotacion_por_grupo

In [33]:
# # Suponiendo que tienes un DataFrame 'df' y quieres calcular la tasa de rotación según la columna 'grupo'
# resultado_tasa_rotacion = porcentaje_ido(df, 'job_satisfaction2')
# print(resultado_tasa_rotacion)

job_satisfaction2
Group A    13.668342
Group B    19.870759
dtype: float64

In [34]:
def porcentaje_ido(df, columnas):
    resultados = {}
    for columna in columnas:
        empleados_por_grupo = df.groupby(columna).size()
        empleados_idos_por_grupo = df[df['attrition'] == 'Y'].groupby(columna).size()
        tasa_rotacion_por_grupo = (empleados_idos_por_grupo / empleados_por_grupo) * 100
        resultados[columna] = tasa_rotacion_por_grupo
    
    return resultados

In [38]:
# Suponiendo que 'df' es tu DataFrame y 'columnas' es una lista de columnas sobre las que quieres calcular la tasa de rotación
columnas = ['years_since_last_promotion2', 'hourly_rate2', 'job_satisfaction2','work_life_balance2','environment_satisfaction2']
resultado_tasa_rotacion = porcentaje_ido(df, columnas)
print(resultado_tasa_rotacion)
print('------------------------------')

{'years_since_last_promotion2': years_since_last_promotion2
Group A    14.252336
Group B    16.694772
dtype: float64, 'hourly_rate2': hourly_rate2
Group A    16.047088
dtype: float64, 'job_satisfaction2': job_satisfaction2
Group A    13.668342
Group B    19.870759
dtype: float64, 'work_life_balance2': work_life_balance2
Group A    14.710884
Group B    19.634703
dtype: float64, 'environment_satisfaction2': environment_satisfaction2
Group A    13.395639
Group B    19.969278
dtype: float64}
------------------------------