# Limpieza de DF de Proyecto

## Limpieza


1. ✔️Convención de nomenclatura: minúscula y _ en vez de espacios 
2. ✔️Estandarización de booleanos : Y/N(general), F/M(gender) 
3. ✔️Eliminar columnas no necesarias: standard_hours, number_children, salary, over18, employee_count.
3. ✔️(b) Borrar same_as_monthly_income por estar repetida. Y years_in_current_role solo hay 34 datos. date_birth borrada pq nos quedamos con age
4. ✔️Algunas columnas, como la columna DailyRate son columnas que incluyen valores numéricos decimales. Pero en el DataFrame aparece como columna de tipo string. Deberás ahcer los cambios necesarios para convertirla en columna de tipo numérica.
5. ✔️Evaluar si hay valores duplicados y analizar si tiene sentido eliminarlos o mantenerlos
6. ✔️Valores inconsistentes, por ejemplo en la columna DistanceFromHome tiene valores negativos.
7. Errores tipográficos en algunos valores de las columnas categóricas. Por ejemplo, en la columna MaritalStatus en vez de "Married" en algunas filas aparece "Marreid".
8. ✔️Columnas redundantes, es decir, columnas que nos dan la misma información expresada de forma diferente.
9. Redondear a dos decimales (DistanceFromHome...) 
10. DistanceFromHome numero negativo
11. ✔️EmployeeNumber tiene nulos, ¿id + indice? - Borrado
12. ✔️Todos los salarios  quitar $ y pasar tipo a int
13. ✔️Salario no válido, cantidad
14. ✔️JobRole estandarizar mayusculas
16. ✔️DateBirth cambiar a Year (nos interesa la edad) (borramos directamente)
17. ✔️WorkLifeBalance yperformance_rating quitar decimal
18. total_working_years cambiar a float
19. Borrar: business_travel, employee_number , monthly_income, over_time, department, education_field, role_department, daily_rate
22. marital_status - unknown
23. worklife_balance , performace_rating - moda
24. environment_satisfaction quitamos el segundo dígito
25. En age cambiar las edades de texto por num
26. Hourly_rate sustituir nulos con KNN

In [59]:
import pandas as pd
import numpy as np
import re

In [60]:
rh  = pd.read_csv("datos_limpios.csv", index_col = 0)
pd.set_option("display.max.columns", None)
#pd.set_option("display.max.rows", None)

In [ ]:
rh.sample(15)

In [ ]:
rh.columns

# Estandarizamos los nombres de columnas: todo en minúsculas y espacios como _

In [ ]:
# Primer paso: las columnas de todo en mayuscula, pasamos a minúsculas y separamos las palabras#

rh.rename(columns={'NUMCOMPANIESWORKED':'num_companies_worked', 'TOTALWORKINGYEARS':'total_working_years', 'WORKLIFEBALANCE':'work_life_balance','YEARSWITHCURRMANAGER':'years_with_curr_manager','NUMBERCHILDREN':'number_children'},inplace = True)

In [61]:
rh

               age attrition    business_travel  daily_rate  \
0               51         N                NaN       684.0
1               52         N                NaN       699.0
2               42         N      Travel_Rarely       532.0
3               47         N      Travel_Rarely       359.0
4               46         N                NaN      1319.0
5               48         N                NaN       117.0
6               59         N                NaN      1435.0
7               42         N      Travel_Rarely       635.0
8               41         N                NaN      1276.0
9               41         N  Travel_Frequently       840.0
10              41         N         Non-Travel       247.0
11              56         N      Travel_Rarely      1369.0
12              38         N                NaN       201.0
13              41         Y      Travel_Rarely      1360.0
14              55         N                NaN       692.0
15              40         N      Travel_Rarely      1398.0
16              58         Y      Travel_Rarely       286.0
17              46         N      Travel_Rarely      1402.0
18              35         N                NaN       819.0
19              40         N      Travel_Rarely       884.0
20              45         N         Non-Travel      1238.0
21              33         N                NaN       515.0
22              36         N                NaN      1223.0
23              47         N                NaN       202.0
24              36         N      Travel_Rarely       928.0
25              35         N                NaN       607.0
26              52         Y                NaN       266.0
27              36         N                NaN       429.0
28              33         N      Travel_Rarely       589.0
29              34         N         Non-Travel         NaN
30              41         N                NaN         NaN
31     Forty-Seven         N                NaN      1180.0
32              53         N      Travel_Rarely      1282.0
33              35         N                NaN       776.0
34              34         N      Travel_Rarely       665.0
35              46         N      Travel_Rarely       526.0
36              43         N                NaN      1034.0
37              36         N                NaN      1403.0
38              60         N  Travel_Frequently      1499.0
39              40         N  Travel_Frequently       580.0
40              32         N      Travel_Rarely       859.0
41              41         N      Travel_Rarely       263.0
42              53         N                NaN      1376.0
43              36         Y      Travel_Rarely       885.0
44              46         N                NaN      1003.0
45              38         N      Travel_Rarely      1321.0
46              51         N                NaN         NaN
47              43         N                NaN       394.0
48              37         N                NaN      1372.0
49              32         N      Travel_Rarely         NaN
50              38         N                NaN      1333.0
51              46         N                NaN       228.0
52              35         Y      Travel_Rarely       737.0
53              43         N                NaN       823.0
54              56         N         Non-Travel       667.0
55              36         N         Non-Travel       301.0
56              38         N                NaN       573.0
57              49         N                NaN         NaN
58              39         N      Travel_Rarely      1329.0
59              40         N                NaN       630.0
60              36         N                NaN         NaN
61              37         N                NaN      1063.0
62              35         N                NaN      1017.0
63              33         N  Travel_Frequently      1296.0
64              50         N      Travel_Rarely       939.0
65              48         N      Travel_Rarely      1355.0
66              44         N      Travel_Rarely      1448.0
67              44         N      Travel_Rarely       200.0
68              40         N                NaN      1202.0
69              34         N      Travel_Rarely       404.0
70              35         N         Non-Travel       208.0
71              50         N                NaN       813.0
72              49         N                NaN       465.0
73              38         N  Travel_Frequently      1189.0
74              33         N                NaN         NaN
75              47         N      Travel_Rarely      1001.0
76              38         N                NaN      1394.0
77              37         N      Travel_Rarely       161.0
78              30         N                NaN       288.0
79     Fifty-Eight         N      Travel_Rarely       682.0
80              34         N      Travel_Rarely      1354.0
81              58         Y      Travel_Rarely       147.0
82              38         N                NaN       119.0
83              29         N  Travel_Frequently      1413.0
84              55         N      Travel_Rarely       452.0
85              41         N                NaN       334.0
86              39         N      Travel_Rarely      1132.0
87              38         N                NaN         NaN
88              43         N                NaN       982.0
89              31         N                NaN       480.0
90              50         N      Travel_Rarely      1099.0
91              35         N                NaN       672.0
92              47         N                NaN      1379.0
93              35         N                NaN       583.0
94              40         N      Travel_Rarely      1492.0
95              45         N                NaN      1050.0
96              33         N                NaN       117.0
97              36         N  Travel_Frequently       469.0
98              45         Y                NaN         NaN
99              51         N  Travel_Frequently       237.0
100             34         N      Travel_Rarely      1440.0
101             43         N      Travel_Rarely      1291.0
102             34         N                NaN      1157.0
103             38         N                NaN      1336.0
104             48         N                NaN      1224.0
105             34         N                NaN       735.0
106             32         N      Travel_Rarely         NaN
107             29         N      Travel_Rarely      1389.0
108             46         N                NaN       638.0
109             30         N                NaN      1240.0
110             45         N                NaN       194.0
111             30         N      Travel_Rarely      1339.0
112             30         N                NaN       111.0
113             34         N  Travel_Frequently         NaN
114             51         N      Travel_Rarely      1469.0
115             34         N                NaN       470.0
116             35         N      Travel_Rarely      1232.0
117             45         N  Travel_Frequently      1249.0
118             39         N                NaN       117.0
119             31         N                NaN       798.0
120             39         N                NaN       672.0
121             45         N      Travel_Rarely       549.0
122             30         N      Travel_Rarely       570.0
123             31         N                NaN      1232.0
124             36         N                NaN       541.0
125             36         N      Travel_Rarely       164.0
126             55         N      Travel_Rarely      1117.0
127             35         N                NaN       619.0
128             42         N      Travel_Rarely       319.0
129             52         N      Travel_Rarely       956.0
130             49         N                NaN      1245.0
131             34         N      Travel_Rarely      1397.0
132             33         Y      Travel_Rarely       527.0
133             33         N                NaN       213.0
134             53         N      Travel_Rarely         NaN
135             49         N      Travel_Rarely       527.0
136             35         N                NaN       882.0
137             38         N      Travel_Rarely       330.0
138             46         N                NaN       406.0
139             36         N         Non-Travel       217.0
140             42         Y  Travel_Frequently       481.0
141             34         N  Travel_Frequently       669.0
142             30         N      Travel_Rarely      1465.0
143             54         N      Travel_Rarely       685.0
144             31         N      Travel_Rarely      1062.0
145             44         N                NaN      1099.0
146             55         N         Non-Travel       177.0
147             44         N      Travel_Rarely      1199.0
148             34         N  Travel_Frequently       648.0
149             39         N                NaN       412.0
150             55         N      Travel_Rarely       282.0
151             51         N                NaN       770.0
152             58         Y                NaN       601.0
153             48         N                NaN       855.0
154             29         N      Travel_Rarely       332.0
155             34         N                NaN      1326.0
156             42         N  Travel_Frequently       748.0
157             57         N      Travel_Rarely       405.0
158             34         Y      Travel_Rarely       790.0
159             54         N  Travel_Frequently      1050.0
160             34         N      Travel_Rarely       971.0
161             29         N                NaN      1370.0
162             35         N      Travel_Rarely       750.0
163             35         Y                NaN       880.0
164             34         N      Travel_Rarely       678.0
165             43         N                NaN      1179.0
166             58         N         Non-Travel       350.0
167             36         N      Travel_Rarely      1266.0
168             43         N      Travel_Rarely       574.0
169             55         N                NaN       189.0
170             42         N                NaN         NaN
171             40         N                NaN       692.0
172             56         Y                NaN       310.0
173             39         N      Travel_Rarely       722.0
174             53         N      Travel_Rarely      1219.0
175             27         N  Travel_Frequently       994.0
176             30         N  Travel_Frequently       721.0
177             35         N                NaN       853.0
178             32         N      Travel_Rarely       427.0
179             30         N      Travel_Rarely       852.0
180             46         Y                NaN       669.0
181             30         N      Travel_Rarely      1334.0
182             32         N                NaN      1093.0
183             35         N      Travel_Rarely         NaN
184             32         N                NaN       967.0
185             41         N      Travel_Rarely       465.0
186             40         N      Travel_Rarely       989.0
187             45         N                NaN      1195.0
188             32         Y      Travel_Rarely      1045.0
189             30         N         Non-Travel       829.0
190             37         N                NaN       663.0
191             37         N                NaN       319.0
192             40         N                NaN      1300.0
193             36         N         Non-Travel      1105.0
194             32         N      Travel_Rarely       906.0
195             38         N                NaN       849.0
196             30         N      Travel_Rarely      1275.0
197             39         N                NaN      1218.0
198             60         N                NaN       422.0
199             30         N                NaN      1398.0
200             31         N      Travel_Rarely      1274.0
201             33         Y                NaN      1076.0
202             50         N                NaN      1207.0
203             32         N                NaN       430.0
204             42         N                NaN       933.0
205             49         Y                NaN      1184.0
206             27         N                NaN         NaN
207             33         N      Travel_Rarely       586.0
208             52         N                NaN       890.0
209             32         N                NaN       379.0
210             36         N                NaN      1425.0
211             31         N         Non-Travel      1188.0
212             36         N      Travel_Rarely       938.0
213             52         N                NaN      1053.0
214             33         N         Non-Travel       722.0
215             45         N         Non-Travel       248.0
216     Thirty-Six         N      Travel_Rarely       796.0
217             49         N                NaN       174.0
218             29         Y                NaN       408.0
219             29         N                NaN         NaN
220             37         N                NaN       977.0
221             33         N      Travel_Rarely       536.0
222             34         N  Travel_Frequently       135.0
223             28         N         Non-Travel      1476.0
224             31         N         Non-Travel       587.0
225             42         N         Non-Travel       495.0
226             40         N      Travel_Rarely       523.0
227             34         N                NaN       507.0
228             58         N      Travel_Rarely      1055.0
229             31         Y  Travel_Frequently      1445.0
230             40         N         Non-Travel       218.0
231             53         N                NaN       447.0
232             34         N                NaN       829.0
233             35         N      Travel_Rarely      1029.0
234             37         N                NaN       674.0
235             42         N  Travel_Frequently         NaN
236             45         N                NaN       538.0
237             30         Y      Travel_Rarely       740.0
238             38         N      Travel_Rarely      1245.0
239             50         N                NaN      1234.0
240             39         N      Travel_Rarely       170.0
241             34         N      Travel_Rarely      1130.0
242             54         N      Travel_Rarely       584.0
243             41         N      Travel_Rarely       918.0
244             39         N                NaN       792.0
245             40         N      Travel_Rarely       611.0
246             33         N                NaN         NaN
247             36         N                NaN      1383.0
248             33         N                NaN       867.0
249             34         N      Travel_Rarely         NaN
250             29         N  Travel_Frequently       574.0
251             46         N      Travel_Rarely       706.0
252             27         N      Travel_Rarely       728.0
253             31         N                NaN       311.0
254             45         N      Travel_Rarely       556.0
255             34         N      Travel_Rarely       937.0
256             31         N                NaN      1125.0
257             35         N                NaN      1224.0
258             39         N      Travel_Rarely       119.0
259             40         N      Travel_Rarely       444.0
260             30         N      Travel_Rarely       911.0
261             47         N                NaN         NaN
262             52         N         Non-Travel       585.0
263             49         N  Travel_Frequently         NaN
264             33         N  Travel_Frequently      1392.0
265             32         N                NaN      1005.0
266             38         N  Travel_Frequently         NaN
267             36         N      Travel_Rarely      1299.0
268             42         N                NaN         NaN
269             31         N                NaN       655.0
270             31         N      Travel_Rarely       746.0
271             51         N                NaN       632.0
272             34         Y  Travel_Frequently       658.0
273             36         N                NaN      1467.0
274             30         N  Travel_Frequently      1312.0
275             33         N         Non-Travel       750.0
276             31         Y                NaN       249.0
277             41         N      Travel_Rarely       802.0
278             26         N      Travel_Rarely      1355.0
279             32         N                NaN       689.0
280             40         N  Travel_Frequently      1395.0
281             53         N      Travel_Rarely      1436.0
282             29         N         Non-Travel      1496.0
283             36         N  Travel_Frequently      1480.0
284             33         N      Travel_Rarely         NaN
285             51         N      Travel_Rarely       313.0
286             27         N      Travel_Rarely       894.0
287             37         N                NaN       290.0
288             38         N                NaN      1084.0
289             49         N         Non-Travel      1002.0
290             27         N                NaN      1242.0
291             45         N                NaN      1052.0
292             35         N                NaN       944.0
293             33         Y      Travel_Rarely       465.0
294             52         N                NaN       771.0
295             40         N                NaN      1416.0
296             38         N         Non-Travel      1327.0
297             46         N                NaN       488.0
298             45         N      Travel_Rarely      1385.0
299             47         Y         Non-Travel       666.0
300             35         N                NaN      1315.0
301             29         N  Travel_Frequently       442.0
302             55         N      Travel_Rarely       147.0
303             26         Y      Travel_Rarely       950.0
304             31         N      Travel_Rarely       218.0
305             43         N  Travel_Frequently         NaN
306             31         N      Travel_Rarely       691.0
307             32         N                NaN      1018.0
308             33         N                NaN         NaN
309             43         N  Travel_Frequently       559.0
310             29         Y      Travel_Rarely       318.0
311             27         N                NaN      1130.0
312             29         N      Travel_Rarely       144.0
313             37         N                NaN      1319.0
314             26         N      Travel_Rarely       933.0
315             40         N      Travel_Rarely      1171.0
316             41         Y                NaN       143.0
317             51         N      Travel_Rarely      1178.0
318             37         N                NaN      1107.0
319             56         N                NaN       906.0
320             41         N      Travel_Rarely       645.0
321             46         N                NaN      1485.0
322             30         N         Non-Travel      1116.0
323             35         N      Travel_Rarely      1276.0
324             48         N      Travel_Rarely       163.0
325             45         N      Travel_Rarely       561.0
326             26         Y  Travel_Frequently       426.0
327             41         N                NaN       509.0
328             34         N                NaN       258.0
329             31         N      Travel_Rarely       525.0
330             43         N  Travel_Frequently         NaN
331             53         N                NaN       238.0

In [ ]:
# Segundo paso:todo en minuscula, añadir barra baja separadora

# Patrón regex para identificar la transición de minúsculas a mayúsculas
patron = '(?<=[a-z])(?=[A-Z])'

# Diccionario para almacenar los nuevos nombres de columna
columnas = {column: re.sub(patron,'_', column) for column in rh.columns}

# Renombrar las columnas usando los nuevos nombres
rh.rename(columns=columnas, inplace=True)

# Convertir los nombres de las columnas a minúsculas
rh.columns = [columna.lower() for columna in rh.columns]

#cambiamos manualmente el nombre de una columna
rh.rename(columns = {'employeenumber': 'employee_number', 'employeecount' : 'employee_count'}, inplace = True )

rh

In [ ]:
rh.dtypes

# Acordar estandarización de booleanos : general: Y/N, genre: F/M

In [ ]:
# Para género
rh["gender"].replace(to_replace = [0,1], value = ['M', 'F'], inplace = True)

In [ ]:
#Para Y/N
rh["over18"].replace(to_replace = [0,1], value = ['N', 'Y'], inplace = True)
rh[["attrition", "over_time"]]= rh[["attrition", "over_time"]].replace(to_replace = ["No","Yes"], value = ['N', 'Y']) #Borrar

In [ ]:

rh["remote_work"].replace(to_replace = ["0","1"], value = ['N', 'Y'], inplace = True)
rh["remote_work"].replace(to_replace = ["No","Yes"], value = ['N', 'Y'], inplace = True)
rh["remote_work"].replace(to_replace = ["False","True"], value = ['N', 'Y'], inplace = True)

#Borramos las columnas inservibles

In [ ]:
# .drop standard_hours, number_children, salary, over18, employee_count
rh.drop(labels=["standard_hours", "number_children", "salary", "over18", "employee_count", "years_in_current_role", "same_as_monthly_income", "date_birth"], axis = 1, inplace=True)

# years_in_current_role borrada por tener solo 34 datos: insuficiente
# same_as_monthly_income está repetida

Estandarizamos todos los valores en camel

In [ ]:
#creamos variable con todas las columnas object

def camelizar (dato):

    try:
        return dato.title()
    except:
        return dato
    
columnas_object_camel = ["age","attrition","business_travel","daily_rate","department","education_field","employee_number","hourly_rate","job_role","marital_status","monthly_income","over_time","performance_rating","total_working_years","work_life_balance","role_departament","remote_work"]

for columnas in columnas_object_camel:
    rh[columnas]=rh[columnas].apply(camelizar)

In [ ]:
rh

WorkLifeBalance, performace_rating y monthly_income quitar comas

In [ ]:
columnas_sin_comas = ['work_life_balance','performance_rating','monthly_income']
for columna in columnas_sin_comas:
    rh[columna] = rh[columna].str.replace(",",".")

Todos los salarios  quitar $ y pasar tipo a int

In [ ]:
columnas_sin_dollar = ['daily_rate']
for columna in columnas_sin_dollar:
    rh[columna] = rh[columna].str.replace('$','').str.replace(",",".")

rh[columna]
rh["daily_rate"]= rh["daily_rate"].astype(float)

Sustituimos el Not Available por nan en hourly_rate y convertimos a float:

In [ ]:
#rh['work_life_balance'].unique()

In [ ]:
# hourly_date
rh['hourly_rate']=rh['hourly_rate'].replace('Not Available', np.nan)
rh['hourly_rate']=rh['hourly_rate'].astype('float', errors='ignore')

In [ ]:
rh['hourly_rate'].dtypes

In [ ]:
#daily_rate = ok
#daily_rate = nan
# performance_rating = nan
# monthly_income = nan

Pasamos a float las columnas de monthly_income, performance_rating y work_life_balance (las demás object). daily_rate(float64)

In [ ]:
def pasar_a_float(elemento):
    try:
        return float(elemento)
    except (ValueError, TypeError):
        return np.NaN

lista_columnas = ['monthly_income', 'performance_rating', 'work_life_balance'] 

for columna in lista_columnas:
    rh[columna] = rh[columna].apply(pasar_a_float).astype('float')

# replace de not available por numpyNaN #especificar el texto que sale 
# gestion de nulos
# conversión

## Comprobamos los valores nulos:

In [ ]:
info_columnas = pd.concat([(rh.isnull().sum() / rh.shape[0]) * 100, rh.dtypes], axis=1)
info_columnas.columns = ['Porcentaje de Nulos','Tipos de Columnas']
info_columnas

# Comprobaciones

In [ ]:
rh.dtypes

In [ ]:
rh.describe(include=object)

In [ ]:
rh.describe()

In [ ]:
rh

In [ ]:
pd.set_option('display.max_rows', None)


rh['distance_from_home'].value_counts()

In [ ]:
rh['marital_status'].unique()

In [ ]:
rh.to_csv('datos_limpios.csv')

# Zahara limpieza

Errores tipográficos en algunos valores de las columnas categóricas. Por ejemplo, en la columna MaritalStatus en vez de "Married" en algunas filas aparece "Marreid".

In [ ]:
rh['marital_status']= rh['marital_status'].replace({'Marreid':'Married'})

In [ ]:
rh['marital_status'].unique()

Redondear a dos decimales (DistanceFromHome...)

In [ ]:
#No tiene decimales, son integer

distance_fromHome numero negativo

In [69]:
rh["distance_from_home"] = rh["distance_from_home"].where(rh["distance_from_home"] >= 0, np.nan)

#No admite NaN en columnas int, tienen que ser float, por lo que ha añadido .0 y no se puede cambiar, exige entonces cambiar los NaN

In [70]:
rh["distance_from_home"]

0        6.0
1        1.0
2        4.0
3        2.0
4        3.0
5       22.0
6       25.0
7        1.0
8        2.0
9        9.0
10       7.0
11      23.0
12      10.0
13      12.0
14      14.0
15       2.0
16       2.0
17       2.0
18       NaN
19      15.0
20       1.0
21       1.0
22       8.0
23       2.0
24       NaN
25       9.0
26       2.0
27       2.0
28      28.0
29      10.0
30       NaN
31      25.0
32       5.0
33       1.0
34       6.0
35       1.0
36      16.0
37       6.0
38      28.0
39       5.0
40       4.0
41       NaN
42       2.0
43      16.0
44       8.0
45       1.0
46       1.0
47      26.0
48       1.0
49       8.0
50       1.0
51       3.0
52      10.0
53       6.0
54       1.0
55      15.0
56       6.0
57       NaN
58       4.0
59       4.0
60       5.0
61      25.0
62       6.0
63       6.0
64      24.0
65       4.0
66      28.0
67      29.0
68       NaN
69       2.0
70       8.0
71      17.0
72       6.0
73       1.0
74      21.0
75       4.0
76       8.0
77      10.0
78       2.0
79       NaN
80       5.0
81      23.0
82       3.0
83       1.0
84       1.0
85       NaN
86       1.0
87      15.0
88      12.0
89       NaN
90       NaN
91      25.0
92      16.0
93      25.0
94      20.0
95       9.0
96       9.0
97       3.0
98       NaN
99       NaN
100      7.0
101     15.0
102      5.0
103      2.0
104     10.0
105     22.0
106      NaN
107     21.0
108      1.0
109      9.0
110      9.0
111      5.0
112      9.0
113      NaN
114      8.0
115      NaN
116     16.0
117      7.0
118     10.0
119      7.0
120      7.0
121      8.0
122      5.0
123      7.0
124      3.0
125      2.0
126     18.0
127      1.0
128     24.0
129      6.0
130     18.0
131      1.0
132      1.0
133      7.0
134     23.0
135      8.0
136      NaN
137     17.0
138      3.0
139     18.0
140      NaN
141      1.0
142      1.0
143      3.0
144     24.0
145      5.0
146      8.0
147      4.0
148     11.0
149     13.0
150      2.0
151      5.0
152      NaN
153      4.0
154     17.0
155      3.0
156      9.0
157      1.0
158     24.0
159     11.0
160      1.0
161      3.0
162     28.0
163     12.0
164     19.0
165      2.0
166      2.0
167      NaN
168     11.0
169     26.0
170     23.0
171     11.0
172      7.0
173      NaN
174      2.0
175      8.0
176      1.0
177     18.0
178      1.0
179      1.0
180      9.0
181      4.0
182      6.0
183      NaN
184      8.0
185      NaN
186      4.0
187      2.0
188      4.0
189      1.0
190     11.0
191      4.0
192     24.0
193     24.0
194      7.0
195     25.0
196     28.0
197      1.0
198      7.0
199     22.0
200      9.0
201      3.0
202     28.0
203     24.0
204     29.0
205     11.0
206      5.0
207      1.0
208      NaN
209      5.0
210     14.0
211     20.0
212      2.0
213      1.0
214     17.0
215     23.0
216     12.0
217      8.0
218     23.0
219      6.0
220      1.0
221     10.0
222     19.0
223      1.0
224      2.0
225      2.0
226      2.0
227     15.0
228      1.0
229      1.0
230      8.0
231      2.0
232     15.0
233     16.0
234     13.0
235      2.0
236      1.0
237      1.0
238     14.0
239     20.0
240      3.0
241      3.0
242     22.0
243      6.0
244      1.0
245      7.0
246      4.0
247     10.0
248      8.0
249      8.0
250      NaN
251      2.0
252     23.0
253      NaN
254     25.0
255      1.0
256      1.0
257      7.0
258     15.0
259      2.0
260      1.0
261      1.0
262     29.0
263      8.0
264      NaN
265      2.0
266     23.0
267     27.0
268      8.0
269      7.0
270      8.0
271     21.0
272      7.0
273     11.0
274     23.0
275      NaN
276      6.0
277      NaN
278     25.0
279      9.0
280     26.0
281      6.0
282      1.0
283      3.0
284     14.0
285      3.0
286      9.0
287     21.0
288     29.0
289     18.0
290     20.0
291      6.0
292      1.0
293      2.0
294      2.0
295      2.0
296      2.0
297      NaN
298     20.0
299      NaN
300     22.0
301      2.0
302     20.0
303      NaN
304      7.0
305     10.0
306      NaN
307      2.0
308     10.0
309     10.0
310      8.0
311      8.0
312     10.0
313      6.0
314      1.0
315     10.0
316      4.0
317     14.0
318     14.0
319      6.0
320      1.0
321     18.0
322      2.0
323     16.0
324      2.0
325      2.0
326     17.0
327      2.0
328     21.0
329      6.0
330      9.0
331      1.0
332      3.0
333     19.0
334      7.0
335      1.0
336      9.0
337      2.0
338     10.0
339      1.0
340      1.0
341      3.0
342      NaN
343     10.0
344      1.0
345      NaN
346      8.0
347     27.0
348      9.0
349      2.0
350      8.0
351     27.0
352      2.0
353      NaN
354      8.0
355      1.0
356     23.0
357      2.0
358      2.0
359      5.0
360      9.0
361      2.0
362      7.0
363      NaN
364     12.0
365      3.0
366      3.0
367      NaN
368      2.0
369      8.0
370      7.0
371     17.0
372      8.0
373      2.0
374     18.0
375      1.0
376     29.0
377      2.0
378     26.0
379      2.0
380     24.0
381     10.0
382      4.0
383      NaN
384      4.0
385     10.0
386      NaN
387     27.0
388      2.0
389     14.0
390      8.0
391      NaN
392      3.0
393      2.0
394      7.0
395     17.0
396     25.0
397      6.0
398      7.0
399      NaN
400      2.0
401      1.0
402     14.0
403      3.0
404      1.0
405      NaN
406      4.0
407     15.0
408      7.0
409      8.0
410     10.0
411      5.0
412      NaN
413      9.0
414      2.0
415      NaN
416      1.0
417     13.0
418     29.0
419      6.0
420     10.0
421      7.0
422     14.0
423      1.0
424      1.0
425      9.0
426      8.0
427      9.0
428     20.0
429      7.0
430     19.0
431      1.0
432      8.0
433      6.0
434     16.0
435      2.0
436      7.0
437      5.0
438     26.0
439     10.0
440     10.0
441      NaN
442      2.0
443      1.0
444      2.0
445      1.0
446      7.0
447      7.0
448      2.0
449      2.0
450     13.0
451     27.0
452      2.0
453     15.0
454      2.0
455      5.0
456      2.0
457     29.0
458     27.0
459      2.0
460     10.0
461      NaN
462      2.0
463      2.0
464     10.0
465      1.0
466      2.0
467      6.0
468      6.0
469      1.0
470     14.0
471     13.0
472      1.0
473      9.0
474     26.0
475      7.0
476     10.0
477      9.0
478     15.0
479     24.0
480      NaN
481     28.0
482     28.0
483     10.0
484      6.0
485      7.0
486      7.0
487      5.0
488     10.0
489      2.0
490      2.0
491      5.0
492      5.0
493     15.0
494      6.0
495     10.0
496      7.0
497      3.0
498     26.0
499      2.0
500      2.0
501     21.0
502      1.0
503     22.0
504      7.0
505      1.0
506      2.0
507      7.0
508      1.0
509      1.0
510      4.0
511     29.0
512     28.0
513     22.0
514      NaN
515      6.0
516      NaN
517     28.0
518      2.0
519     15.0
520      2.0
521      2.0
522     15.0
523      NaN
524      1.0
525     11.0
526     29.0
527     15.0
528      1.0
529      9.0
530      NaN
531      2.0
532      NaN
533      9.0
534      1.0
535     23.0
536      3.0
537      1.0
538      3.0
539      NaN
540      NaN
541      2.0
542      7.0
543      NaN
544      1.0
545     28.0
546     10.0
547      9.0
548     19.0
549      2.0
550     11.0
551      4.0
552      1.0
553      5.0
554      1.0
555      2.0
556     16.0
557      9.0
558      1.0
559     16.0
560      2.0
561      1.0
562      1.0
563      NaN
564      4.0
565      5.0
566     14.0
567      6.0
568      9.0
569     18.0
570     11.0
571      6.0
572      4.0
573      7.0
574     27.0
575      1.0
576     14.0
577     29.0
578      6.0
579      4.0
580     26.0
581      2.0
582      1.0
583      6.0
584     10.0
585      NaN
586      2.0
587      3.0
588      2.0
589      4.0
590     12.0
591      NaN
592      NaN
593      2.0
594     22.0
595      7.0
596      1.0
597     13.0
598      9.0
599     27.0
600      5.0
601      9.0
602      8.0
603     11.0
604     21.0
605      2.0
606     14.0
607      8.0
608      1.0
609      1.0
610      2.0
611      9.0
612      1.0
613      9.0
614      8.0
615      4.0
616     10.0
617     15.0
618      2.0
619      1.0
620      4.0
621      9.0
622      7.0
623     25.0
624     26.0
625     21.0
626      4.0
627      NaN
628     25.0
629      8.0
630      3.0
631      NaN
632      4.0
633      1.0
634      5.0
635      4.0
636     14.0
637      9.0
638      NaN
639      9.0
640      2.0
641     14.0
642     27.0
643      7.0
644      2.0
645     10.0
646     12.0
647      NaN
648      8.0
649      2.0
650     24.0
651      6.0
652     23.0
653     12.0
654      NaN
655      8.0
656      NaN
657      2.0
658      9.0
659      3.0
660      NaN
661      5.0
662      9.0
663      2.0
664      NaN
665      1.0
666     29.0
667      7.0
668      1.0
669      1.0
670      2.0
671      NaN
672     26.0
673     18.0
674      3.0
675      2.0
676      NaN
677     24.0
678      1.0
679     20.0
680     21.0
681     10.0
682     26.0
683      NaN
684      4.0
685      5.0
686      3.0
687     11.0
688      8.0
689     16.0
690      1.0
691      5.0
692     20.0
693      NaN
694      2.0
695     10.0
696      1.0
697      NaN
698      2.0
699     10.0
700      NaN
701     10.0
702      8.0
703     28.0
704      7.0
705      6.0
706      2.0
707      8.0
708      NaN
709      NaN
710     19.0
711      8.0
712     19.0
713     10.0
714      2.0
715      1.0
716     12.0
717      2.0
718      8.0
719      3.0
720      3.0
721      3.0
722      7.0
723     10.0
724      1.0
725      1.0
726      8.0
727      2.0
728     11.0
729     24.0
730      3.0
731      NaN
732      1.0
733      NaN
734     24.0
735     10.0
736      9.0
737     29.0
738      2.0
739      2.0
740     10.0
741      4.0
742      8.0
743      1.0
744     26.0
745     28.0
746      2.0
747     28.0
748      1.0
749      7.0
750      7.0
751     13.0
752      NaN
753      NaN
754     25.0
755     28.0
756     10.0
757     27.0
758     19.0
759      2.0
760      7.0
761      2.0
762     24.0
763      1.0
764      NaN
765      9.0
766     19.0
767     12.0
768      9.0
769      1.0
770      1.0
771     10.0
772      2.0
773     10.0
774      1.0
775     10.0
776     10.0
777      4.0
778      7.0
779      2.0
780     18.0
781     16.0
782      1.0
783      9.0
784      NaN
785      6.0
786     18.0
787      1.0
788      8.0
789      1.0
790      1.0
791     11.0
792     20.0
793      2.0
794      1.0
795     13.0
796      8.0
797      2.0
798     26.0
799      NaN
800     24.0
801      5.0
802      2.0
803     11.0
804      6.0
805     16.0
806      2.0
807     10.0
808      3.0
809      2.0
810      5.0
811      NaN
812      NaN
813      NaN
814      NaN
815      NaN
816      1.0
817      9.0
818      3.0
819     23.0
820      6.0
821      2.0
822      7.0
823      NaN
824     12.0
825     20.0
826      6.0
827      NaN
828     28.0
829      3.0
830      5.0
831      NaN
832      9.0
833     21.0
834     17.0
835      8.0
836      9.0
837     12.0
838     27.0
839      1.0
840     13.0
841      NaN
842      1.0
843      NaN
844      NaN
845      NaN
846      1.0
847      3.0
848      1.0
849      3.0
850      4.0
851      2.0
852      6.0
853      1.0
854      NaN
855     26.0
856      3.0
857      5.0
858      NaN
859     17.0
860      NaN
861      1.0
862      2.0
863      9.0
864      3.0
865      1.0
866     23.0
867     16.0
868     10.0
869      5.0
870      9.0
871      NaN
872      2.0
873      2.0
874      NaN
875      2.0
876      5.0
877      9.0
878      5.0
879     26.0
880      2.0
881     25.0
882      NaN
883      1.0
884      9.0
885      9.0
886      NaN
887      1.0
888      7.0
889      2.0
890     19.0
891     10.0
892      1.0
893      5.0
894      4.0
895     21.0
896      8.0
897      1.0
898      3.0
899     10.0
900      4.0
901      6.0
902     23.0
903      3.0
904     25.0
905      2.0
906     10.0
907      7.0
908     23.0
909      5.0
910      NaN
911     19.0
912     18.0
913     11.0
914     24.0
915     25.0
916      2.0
917      1.0
918      1.0
919     14.0
920     22.0
921      3.0
922      6.0
923      6.0
924      9.0
925      3.0
926      4.0
927      8.0
928      NaN
929      3.0
930     16.0
931      8.0
932     24.0
933      3.0
934     19.0
935     15.0
936      2.0
937     10.0
938      6.0
939      NaN
940      2.0
941      1.0
942      1.0
943      8.0
944      8.0
945      NaN
946      8.0
947      NaN
948     16.0
949      NaN
950      2.0
951     13.0
952     16.0
953      3.0
954      4.0
955     13.0
956      7.0
957      1.0
958      8.0
959     25.0
960      4.0
961      1.0
962      NaN
963      9.0
964      1.0
965      1.0
966      5.0
967      2.0
968      2.0
969      3.0
970      9.0
971      6.0
972      1.0
973      7.0
974      NaN
975      9.0
976     13.0
977      NaN
978     22.0
979     17.0
980     14.0
981      5.0
982      6.0
983      7.0
984      2.0
985     10.0
986     29.0
987      8.0
988      2.0
989      3.0
990      NaN
991      9.0
992      NaN
993      8.0
994      2.0
995      5.0
996     15.0
997      3.0
998     25.0
999      7.0
1000     1.0
1001    20.0
1002    11.0
1003     2.0
1004     9.0
1005    15.0
1006    25.0
1007     6.0
1008     4.0
1009     4.0
1010     7.0
1011     3.0
1012     2.0
1013    15.0
1014    13.0
1015     8.0
1016     1.0
1017    10.0
1018     2.0
1019     1.0
1020     6.0
1021     2.0
1022     1.0
1023     1.0
1024    23.0
1025    23.0
1026     6.0
1027     NaN
1028    10.0
1029     1.0
1030     3.0
1031    16.0
1032    19.0
1033     1.0
1034    11.0
1035     2.0
1036    18.0
1037     7.0
1038    22.0
1039     2.0
1040    22.0
1041     2.0
1042    18.0
1043    10.0
1044     NaN
1045    11.0
1046    18.0
1047     1.0
1048     7.0
1049     8.0
1050    16.0
1051     9.0
1052     1.0
1053     5.0
1054     8.0
1055     2.0
1056     7.0
1057     9.0
1058     5.0
1059     5.0
1060    20.0
1061     1.0
1062     2.0
1063     4.0
1064     7.0
1065     NaN
1066     2.0
1067    10.0
1068     3.0
1069     NaN
1070     2.0
1071     8.0
1072     NaN
1073     2.0
1074    15.0
1075     1.0
1076    16.0
1077    10.0
1078    10.0
1079     6.0
1080     NaN
1081    26.0
1082     5.0
1083     2.0
1084    12.0
1085     NaN
1086    26.0
1087     4.0
1088    16.0
1089     4.0
1090     NaN
1091     8.0
1092     2.0
1093     7.0
1094    10.0
1095     5.0
1096    22.0
1097     NaN
1098     1.0
1099     2.0
1100    16.0
1101     2.0
1102     9.0
1103    26.0
1104     1.0
1105     NaN
1106     7.0
1107    17.0
1108    10.0
1109     2.0
1110     4.0
1111    29.0
1112    13.0
1113     4.0
1114     NaN
1115     NaN
1116     5.0
1117     NaN
1118     9.0
1119     1.0
1120     NaN
1121     3.0
1122     3.0
1123     9.0
1124    26.0
1125     9.0
1126     NaN
1127     7.0
1128     1.0
1129     2.0
1130    15.0
1131    13.0
1132     9.0
1133     1.0
1134     2.0
1135    19.0
1136     2.0
1137     7.0
1138     NaN
1139    16.0
1140    24.0
1141    17.0
1142    10.0
1143     3.0
1144     4.0
1145     1.0
1146    21.0
1147     9.0
1148     3.0
1149    24.0
1150     1.0
1151    10.0
1152    12.0
1153     2.0
1154     2.0
1155    11.0
1156     1.0
1157    29.0
1158     NaN
1159     5.0
1160     NaN
1161     NaN
1162     2.0
1163     2.0
1164    18.0
1165     NaN
1166     5.0
1167    23.0
1168     4.0
1169     2.0
1170     5.0
1171     1.0
1172     2.0
1173     3.0
1174     2.0
1175    18.0
1176     NaN
1177     7.0
1178     NaN
1179     NaN
1180     9.0
1181    11.0
1182     1.0
1183    13.0
1184    26.0
1185     7.0
1186     8.0
1187    14.0
1188     8.0
1189     2.0
1190     4.0
1191     9.0
1192     1.0
1193     NaN
1194    10.0
1195     NaN
1196    10.0
1197     NaN
1198    21.0
1199     6.0
1200    12.0
1201     NaN
1202     NaN
1203    21.0
1204    10.0
1205    10.0
1206     3.0
1207    17.0
1208    29.0
1209     2.0
1210     NaN
1211     NaN
1212     5.0
1213    24.0
1214    11.0
1215     2.0
1216     2.0
1217     9.0
1218    20.0
1219    20.0
1220     7.0
1221     2.0
1222     5.0
1223    15.0
1224    17.0
1225     1.0
1226     2.0
1227     3.0
1228    24.0
1229    16.0
1230    15.0
1231     9.0
1232     NaN
1233     1.0
1234     4.0
1235     2.0
1236    25.0
1237     NaN
1238     NaN
1239     1.0
1240    11.0
1241     8.0
1242     7.0
1243     9.0
1244     6.0
1245     6.0
1246     1.0
1247     2.0
1248     1.0
1249     6.0
1250     2.0
1251    15.0
1252     NaN
1253     3.0
1254    22.0
1255     9.0
1256     NaN
1257     7.0
1258     9.0
1259     1.0
1260     2.0
1261    23.0
1262     NaN
1263    29.0
1264     6.0
1265     3.0
1266     1.0
1267    19.0
1268     1.0
1269    10.0
1270     NaN
1271     2.0
1272     2.0
1273    23.0
1274     7.0
1275     NaN
1276     3.0
1277     3.0
1278    18.0
1279    10.0
1280     3.0
1281     NaN
1282     4.0
1283    23.0
1284     2.0
1285    29.0
1286     2.0
1287     1.0
1288     5.0
1289     7.0
1290    12.0
1291     2.0
1292     4.0
1293    10.0
1294     2.0
1295    17.0
1296     2.0
1297     2.0
1298    29.0
1299     2.0
1300     8.0
1301     NaN
1302     5.0
1303    28.0
1304    29.0
1305     NaN
1306    10.0
1307    17.0
1308    12.0
1309     2.0
1310     1.0
1311     NaN
1312     NaN
1313     8.0
1314     3.0
1315     NaN
1316    10.0
1317     NaN
1318    10.0
1319     1.0
1320    10.0
1321     2.0
1322     2.0
1323     8.0
1324     6.0
1325     9.0
1326     1.0
1327    16.0
1328     2.0
1329     2.0
1330     3.0
1331    16.0
1332     1.0
1333     8.0
1334     NaN
1335    25.0
1336     2.0
1337     8.0
1338    18.0
1339     NaN
1340     5.0
1341    20.0
1342     1.0
1343    19.0
1344    10.0
1345    21.0
1346     4.0
1347     1.0
1348     2.0
1349    24.0
1350    10.0
1351     NaN
1352     5.0
1353     NaN
1354     5.0
1355     9.0
1356    11.0
1357     3.0
1358    15.0
1359    10.0
1360    25.0
1361    10.0
1362     4.0
1363    10.0
1364     1.0
1365     1.0
1366     3.0
1367     2.0
1368    29.0
1369     8.0
1370    12.0
1371     1.0
1372     2.0
1373     3.0
1374     NaN
1375     5.0
1376     2.0
1377    17.0
1378    26.0
1379     4.0
1380     2.0
1381     7.0
1382     1.0
1383    20.0
1384    25.0
1385     1.0
1386     NaN
1387     NaN
1388     6.0
1389    25.0
1390    11.0
1391     1.0
1392     2.0
1393     1.0
1394     8.0
1395    11.0
1396     2.0
1397     1.0
1398     NaN
1399     NaN
1400     9.0
1401    13.0
1402     2.0
1403     1.0
1404     8.0
1405     6.0
1406     2.0
1407     9.0
1408     1.0
1409     NaN
1410     NaN
1411     3.0
1412     1.0
1413     NaN
1414     9.0
1415     7.0
1416     1.0
1417     3.0
1418     5.0
1419     5.0
1420    23.0
1421     4.0
1422     2.0
1423     1.0
1424    22.0
1425     8.0
1426     NaN
1427     2.0
1428     1.0
1429     NaN
1430     2.0
1431    16.0
1432    16.0
1433     4.0
1434    16.0
1435    18.0
1436    17.0
1437     NaN
1438     7.0
1439     NaN
1440     8.0
1441    13.0
1442    14.0
1443    18.0
1444     2.0
1445    10.0
1446    29.0
1447     8.0
1448     6.0
1449    24.0
1450     3.0
1451     9.0
1452     7.0
1453     1.0
1454     1.0
1455    24.0
1456    13.0
1457    11.0
1458     9.0
1459    21.0
1460    12.0
1461    22.0
1462     1.0
1463     5.0
1464     2.0
1465     2.0
1466     NaN
1467     9.0
1468     9.0
1469    26.0
1470     7.0
1471    16.0
1472     1.0
1473    23.0
1474     3.0
1475     1.0
1476     1.0
1477     2.0
1478     1.0
1479    15.0
1480    12.0
1481     7.0
1482    29.0
1483     8.0
1484     2.0
1485     3.0
1486     1.0
1487     NaN
1488    20.0
1489    11.0
1490     2.0
1491     9.0
1492    15.0
1493    25.0
1494     6.0
1495     4.0
1496     4.0
1497     7.0
1498     2.0
1499    29.0
1500    27.0
1501     2.0
1502     NaN
1503    21.0
1504     NaN
1505     2.0
1506    10.0
1507     1.0
1508     2.0
1509     6.0
1510     6.0
1511     1.0
1512     5.0
1513     2.0
1514     2.0
1515     8.0
1516     2.0
1517     5.0
1518     9.0
1519     5.0
1520     NaN
1521     2.0
1522     NaN
1523     1.0
1524     1.0
1525     9.0
1526     9.0
1527    23.0
1528     1.0
1529     7.0
1530     2.0
1531     NaN
1532     NaN
1533     1.0
1534     5.0
1535     4.0
1536    21.0
1537     8.0

total_working_years cambiar a float

In [ ]:
rh['total_working_years'] = rh['total_working_years'].str.replace(",", ".")

rh['total_working_years'] = rh['total_working_years'].astype(float)