# Limpieza de DF de Proyecto

## Limpieza


1. ✔️Convención de nomenclatura: minúscula y _ en vez de espacios 
2. ✔️Estandarización de booleanos : Y/N(general), F/M(gender) 
3. ✔️Eliminar columnas no necesarias: standard_hours, number_children, salary, over18, employee_count.
3. ✔️(b) Borrar same_as_monthly_income por estar repetida. Y years_in_current_role solo hay 34 datos. date_birth borrada pq nos quedamos con age
4. ✔️Algunas columnas, como la columna DailyRate son columnas que incluyen valores numéricos decimales. Pero en el DataFrame aparece como columna de tipo string. Deberás ahcer los cambios necesarios para convertirla en columna de tipo numérica.
5. ✔️Evaluar si hay valores duplicados y analizar si tiene sentido eliminarlos o mantenerlos
6. ✔️Valores inconsistentes, por ejemplo en la columna DistanceFromHome tiene valores negativos.
7. ✔️Errores tipográficos en algunos valores de las columnas categóricas. Por ejemplo, en la columna MaritalStatus en vez de "Married" en algunas filas aparece "Marreid".
8. ✔️Columnas redundantes, es decir, columnas que nos dan la misma información expresada de forma diferente.
9. ✔️Redondear a dos decimales (DistanceFromHome...) 
10. ✔️DistanceFromHome numero negativo
11. ✔️EmployeeNumber tiene nulos, ¿id + indice? - Borrado
12. ✔️Todos los salarios  quitar $ y pasar tipo a int
13. ✔️Salario no válido, cantidad
14. ✔️JobRole estandarizar mayusculas
16. ✔️DateBirth cambiar a Year (nos interesa la edad) (borramos directamente)
17. ✔️WorkLifeBalance yperformance_rating quitar decimal
18. ✔️total_working_years cambiar a float
19. ✔️Borrar: business_travel, employee_number , monthly_income, over_time, department, education_field, role_department, daily_rate
22. ✔️marital_status - unknown
23. ✔️worklife_balance , performace_rating - moda
24. ✔️environment_satisfaction quitamos el segundo dígito
25. ✔️En age cambiar las edades de texto por num
26. ✔️Hourly_rate sustituir nulos con KNN

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
rh  = pd.read_csv("datos_limpios.csv", index_col = 0)
pd.set_option("display.max.columns", None)
#pd.set_option("display.max.rows", None)

In [3]:
rh.sample(15)

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employee_number,environment_satisfaction,gender,hourly_rate,job_involvement,job_level,job_role,job_satisfaction,marital_status,monthly_income,monthly_rate,num_companies_worked,over_time,percent_salary_hike,performance_rating,relationship_satisfaction,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_since_last_promotion,years_with_curr_manager,role_departament,remote_work
1484,26,Y,NaN,342.0,NaN,2,3,Life Sciences,"1053,0",1,M,57.0,3,1,Research Scientist,1,Married,2042.0,15346,6,NaN,14,3.0,2,1,"6,0",2,3.0,3,1,2,NaN,Y
1088,40,N,NaN,448.0,NaN,16,3,NaN,"1641,0",3,F,84.0,3,3,Manufacturing Director,4,NaN,NaN,19948,6,NaN,15,NaN,4,0,"18,0",2,2.0,4,3,3,NaN,Y
313,37,N,NaN,1319.0,NaN,6,3,Medical,NaN,3,M,51.0,4,2,Research Scientist,1,Divorced,5974.0,17001,4,NaN,13,3.0,1,2,"13,0",2,3.0,7,6,7,NaN,N
1181,22,N,NaN,253.0,NaN,11,3,Medical,"511,0",1,F,43.0,3,1,Research Scientist,2,Married,2244.0,24440,1,N,13,3.0,4,1,"2,0",1,3.0,2,1,2,NaN,N
144,31,N,Travel_Rarely,1062.0,NaN,24,3,Medical,"1252,0",3,F,96.0,2,2,Healthcare Representative,1,Single,NaN,17198,1,N,19,NaN,2,0,"10,0",2,3.0,10,1,8,NaN,N
1282,47,N,Travel_Frequently,1309.0,NaN,4,1,Medical,NaN,2,M,99.0,3,2,Sales Representative,3,NaN,NaN,25751,3,N,19,3.0,1,0,"5,0",3,3.0,0,0,0,NaN,N
1577,38,N,Travel_Rarely,243.0,Sales,7,4,Marketing,NaN,4,F,46.0,2,2,Sales Executive,4,NaN,NaN,7791,0,N,20,NaN,1,0,NaN,2,3.0,7,0,5,Sales Executive - Sales,Y
898,25,Y,Travel_Rarely,688.0,NaN,3,3,Medical,NaN,1,M,91.0,3,1,Laboratory Technician,1,Married,NaN,9396,5,N,13,3.0,3,1,"6,0",5,NaN,2,0,2,NaN,Y
1182,33,N,NaN,922.0,NaN,1,5,NaN,"612,0",1,F,95.0,4,4,Research Director,3,NaN,16184.0,22578,4,N,19,3.0,3,1,"10,0",2,3.0,6,0,5,NaN,N
331,53,N,NaN,238.0,Sales,1,1,NaN,"682,0",4,F,34.0,3,2,Sales Executive,1,Single,NaN,7507,7,NaN,20,4.0,4,0,"18,0",2,4.0,14,8,10,Sales Executive - Sales,N
823,43,N,NaN,957.0,NaN,-26,3,Medical,"171,0",2,F,72.0,4,1,Research Scientist,3,Single,4739.0,16090,4,NaN,12,3.0,4,0,NaN,2,3.0,3,1,2,NaN,Y
1028,41,N,NaN,256.0,NaN,10,2,Medical,"1329,0",3,M,40.0,1,2,Sales Executive,2,Single,NaN,22074,1,N,13,3.0,1,0,"19,0",4,3.0,19,11,9,NaN,Y
800,28,Y,Travel_Rarely,103.0,Research & Development,24,3,Life Sciences,"19,0",3,M,50.0,2,1,Laboratory Technician,3,Single,NaN,12947,5,Y,14,3.0,2,0,"6,0",4,3.0,4,0,3,Laboratory Technician - Research & Developm...,Y
1057,34,Y,NaN,1107.0,NaN,9,4,NaN,"1467,0",1,F,52.0,3,1,Human Resources,3,Married,NaN,3072,1,N,15,3.0,4,0,"2,0",0,3.0,2,2,2,NaN,N
1061,28,Y,NaN,1496.0,NaN,1,3,NaN,"1486,0",1,M,92.0,3,1,Sales Representative,3,Married,2909.0,15747,3,NaN,15,3.0,4,1,"5,0",3,4.0,3,1,2,NaN,N

In [4]:
rh.columns

Index(['age', 'attrition', 'business_travel', 'daily_rate', 'department',
       'distance_from_home', 'education', 'education_field', 'employee_number',
       'environment_satisfaction', 'gender', 'hourly_rate', 'job_involvement',
       'job_level', 'job_role', 'job_satisfaction', 'marital_status',
       'monthly_income', 'monthly_rate', 'num_companies_worked', 'over_time',
       'percent_salary_hike', 'performance_rating',
       'relationship_satisfaction', 'stock_option_level',
       'total_working_years', 'training_times_last_year', 'work_life_balance',
       'years_at_company', 'years_since_last_promotion',
       'years_with_curr_manager', 'role_departament', 'remote_work'],
      dtype='object')

# Estandarizamos los nombres de columnas: todo en minúsculas y espacios como _

In [5]:
# Primer paso: las columnas de todo en mayuscula, pasamos a minúsculas y separamos las palabras#

rh.rename(columns={'NUMCOMPANIESWORKED':'num_companies_worked', 'TOTALWORKINGYEARS':'total_working_years', 'WORKLIFEBALANCE':'work_life_balance','YEARSWITHCURRMANAGER':'years_with_curr_manager','NUMBERCHILDREN':'number_children'},inplace = True)

In [6]:
rh

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employee_number,environment_satisfaction,gender,hourly_rate,job_involvement,job_level,job_role,job_satisfaction,marital_status,monthly_income,monthly_rate,num_companies_worked,over_time,percent_salary_hike,performance_rating,relationship_satisfaction,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_since_last_promotion,years_with_curr_manager,role_departament,remote_work
0,51,N,NaN,684.0,NaN,6,3,NaN,"162,0",1,M,51.0,3,5,Research Director,3,NaN,19537.0,6462,7,N,13,3.0,3,0,NaN,5,3.0,20,15,15,NaN,Y
1,52,N,NaN,699.0,NaN,1,4,Life Sciences,"259,0",3,M,65.0,2,5,Manager,3,NaN,19999.0,5678,0,NaN,14,3.0,1,1,"34,0",5,3.0,33,11,9,NaN,Y
2,42,N,Travel_Rarely,532.0,Research & Development,4,2,Technical Degree,"319,0",3,M,58.0,3,5,Manager,4,Married,19232.0,4933,1,N,11,3.0,4,0,"22,0",3,NaN,22,11,15,Manager - Research & Development,Y
3,47,N,Travel_Rarely,359.0,NaN,2,4,Medical,NaN,1,F,82.0,3,4,Research Director,3,Married,17169.0,26703,3,NaN,19,3.0,2,2,NaN,2,NaN,20,5,6,NaN,N
4,46,N,NaN,1319.0,NaN,3,3,Technical Degree,NaN,1,F,45.0,4,4,Sales Executive,1,Divorced,NaN,7739,2,N,12,3.0,4,1,NaN,5,3.0,19,2,8,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,36,Y,Travel_Rarely,530.0,NaN,3,1,Life Sciences,"967,0",3,M,51.0,2,3,Sales Executive,4,Married,10325.0,5518,1,NaN,11,NaN,1,1,NaN,6,3.0,16,3,7,NaN,N
1610,45,N,Non-Travel,805.0,NaN,4,2,NaN,"972,0",3,M,57.0,3,2,Laboratory Technician,2,NaN,4447.0,23163,1,NaN,12,3.0,2,0,NaN,5,2.0,9,0,8,NaN,Y
1611,39,N,Travel_Rarely,903.0,NaN,-13,5,NaN,NaN,13,M,41.0,4,3,Sales Executive,3,Single,NaN,2560,0,N,18,3.0,4,0,"9,0",3,3.0,8,0,7,NaN,Y
1612,36,N,Non-Travel,1229.0,NaN,8,4,Technical Degree,"990,0",1,M,84.0,3,2,Sales Executive,4,Divorced,NaN,25952,4,N,13,NaN,4,2,"12,0",3,3.0,7,0,7,NaN,Y
1613,46,N,NaN,566.0,NaN,7,2,Medical,NaN,4,M,75.0,3,3,Manufacturing Director,3,NaN,10845.0,24208,6,NaN,13,3.0,2,1,NaN,3,3.0,8,0,7,NaN,N

In [7]:
# Segundo paso:todo en minuscula, añadir barra baja separadora

# Patrón regex para identificar la transición de minúsculas a mayúsculas
patron = '(?<=[a-z])(?=[A-Z])'

# Diccionario para almacenar los nuevos nombres de columna
columnas = {column: re.sub(patron,'_', column) for column in rh.columns}

# Renombrar las columnas usando los nuevos nombres
rh.rename(columns=columnas, inplace=True)

# Convertir los nombres de las columnas a minúsculas
rh.columns = [columna.lower() for columna in rh.columns]

#cambiamos manualmente el nombre de una columna
rh.rename(columns = {'employeenumber': 'employee_number', 'employeecount' : 'employee_count'}, inplace = True )

rh

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employee_number,environment_satisfaction,gender,hourly_rate,job_involvement,job_level,job_role,job_satisfaction,marital_status,monthly_income,monthly_rate,num_companies_worked,over_time,percent_salary_hike,performance_rating,relationship_satisfaction,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_since_last_promotion,years_with_curr_manager,role_departament,remote_work
0,51,N,NaN,684.0,NaN,6,3,NaN,"162,0",1,M,51.0,3,5,Research Director,3,NaN,19537.0,6462,7,N,13,3.0,3,0,NaN,5,3.0,20,15,15,NaN,Y
1,52,N,NaN,699.0,NaN,1,4,Life Sciences,"259,0",3,M,65.0,2,5,Manager,3,NaN,19999.0,5678,0,NaN,14,3.0,1,1,"34,0",5,3.0,33,11,9,NaN,Y
2,42,N,Travel_Rarely,532.0,Research & Development,4,2,Technical Degree,"319,0",3,M,58.0,3,5,Manager,4,Married,19232.0,4933,1,N,11,3.0,4,0,"22,0",3,NaN,22,11,15,Manager - Research & Development,Y
3,47,N,Travel_Rarely,359.0,NaN,2,4,Medical,NaN,1,F,82.0,3,4,Research Director,3,Married,17169.0,26703,3,NaN,19,3.0,2,2,NaN,2,NaN,20,5,6,NaN,N
4,46,N,NaN,1319.0,NaN,3,3,Technical Degree,NaN,1,F,45.0,4,4,Sales Executive,1,Divorced,NaN,7739,2,N,12,3.0,4,1,NaN,5,3.0,19,2,8,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,36,Y,Travel_Rarely,530.0,NaN,3,1,Life Sciences,"967,0",3,M,51.0,2,3,Sales Executive,4,Married,10325.0,5518,1,NaN,11,NaN,1,1,NaN,6,3.0,16,3,7,NaN,N
1610,45,N,Non-Travel,805.0,NaN,4,2,NaN,"972,0",3,M,57.0,3,2,Laboratory Technician,2,NaN,4447.0,23163,1,NaN,12,3.0,2,0,NaN,5,2.0,9,0,8,NaN,Y
1611,39,N,Travel_Rarely,903.0,NaN,-13,5,NaN,NaN,13,M,41.0,4,3,Sales Executive,3,Single,NaN,2560,0,N,18,3.0,4,0,"9,0",3,3.0,8,0,7,NaN,Y
1612,36,N,Non-Travel,1229.0,NaN,8,4,Technical Degree,"990,0",1,M,84.0,3,2,Sales Executive,4,Divorced,NaN,25952,4,N,13,NaN,4,2,"12,0",3,3.0,7,0,7,NaN,Y
1613,46,N,NaN,566.0,NaN,7,2,Medical,NaN,4,M,75.0,3,3,Manufacturing Director,3,NaN,10845.0,24208,6,NaN,13,3.0,2,1,NaN,3,3.0,8,0,7,NaN,N

In [8]:
rh.dtypes

age                            object
attrition                      object
business_travel                object
daily_rate                    float64
department                     object
distance_from_home              int64
education                       int64
education_field                object
employee_number                object
environment_satisfaction        int64
gender                         object
hourly_rate                   float64
job_involvement                 int64
job_level                       int64
job_role                       object
job_satisfaction                int64
marital_status                 object
monthly_income                float64
monthly_rate                    int64
num_companies_worked            int64
over_time                      object
percent_salary_hike             int64
performance_rating            float64
relationship_satisfaction       int64
stock_option_level              int64
total_working_years            object
training_times_last_year        int64
work_life_balance             float64
years_at_company                int64
years_since_last_promotion      int64
years_with_curr_manager         int64
role_departament               object
remote_work                    object
dtype: object

# Acordar estandarización de booleanos : general: Y/N, genre: F/M

In [9]:
# Para género
rh["gender"].replace(to_replace = [0,1], value = ['M', 'F'], inplace = True)

In [10]:
#Para Y/N
rh["over18"].replace(to_replace = [0,1], value = ['N', 'Y'], inplace = True)
rh[["attrition", "over_time"]]= rh[["attrition", "over_time"]].replace(to_replace = ["No","Yes"], value = ['N', 'Y']) #Borrar

KeyError: 'over18'

In [11]:

rh["remote_work"].replace(to_replace = ["0","1"], value = ['N', 'Y'], inplace = True)
rh["remote_work"].replace(to_replace = ["No","Yes"], value = ['N', 'Y'], inplace = True)
rh["remote_work"].replace(to_replace = ["False","True"], value = ['N', 'Y'], inplace = True)

#Borramos las columnas inservibles

In [12]:
# .drop standard_hours, number_children, salary, over18, employee_count
rh.drop(labels=["standard_hours", "number_children", "salary", "over18", "employee_count", "years_in_current_role", "same_as_monthly_income", "date_birth"], axis = 1, inplace=True)

# years_in_current_role borrada por tener solo 34 datos: insuficiente
# same_as_monthly_income está repetida

KeyError: "['standard_hours' 'number_children' 'salary' 'over18' 'employee_count'\n 'years_in_current_role' 'same_as_monthly_income' 'date_birth'] not found in axis"

Estandarizamos todos los valores en camel

In [13]:
#creamos variable con todas las columnas object

def camelizar (dato):

    try:
        return dato.title()
    except:
        return dato
    
columnas_object_camel = ["age","attrition","business_travel","daily_rate","department","education_field","employee_number","hourly_rate","job_role","marital_status","monthly_income","over_time","performance_rating","total_working_years","work_life_balance","role_departament","remote_work"]

for columnas in columnas_object_camel:
    rh[columnas]=rh[columnas].apply(camelizar)

In [15]:
rh

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employee_number,environment_satisfaction,gender,hourly_rate,job_involvement,job_level,job_role,job_satisfaction,marital_status,monthly_income,monthly_rate,num_companies_worked,over_time,percent_salary_hike,performance_rating,relationship_satisfaction,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_since_last_promotion,years_with_curr_manager,role_departament,remote_work
0,51,N,NaN,684.0,NaN,6,3,NaN,"162,0",1,M,51.0,3,5,Research Director,3,NaN,19537.0,6462,7,N,13,3.0,3,0,NaN,5,3.0,20,15,15,NaN,Y
1,52,N,NaN,699.0,NaN,1,4,Life Sciences,"259,0",3,M,65.0,2,5,Manager,3,NaN,19999.0,5678,0,NaN,14,3.0,1,1,"34,0",5,3.0,33,11,9,NaN,Y
2,42,N,Travel_Rarely,532.0,Research & Development,4,2,Technical Degree,"319,0",3,M,58.0,3,5,Manager,4,Married,19232.0,4933,1,N,11,3.0,4,0,"22,0",3,NaN,22,11,15,Manager - Research & Development,Y
3,47,N,Travel_Rarely,359.0,NaN,2,4,Medical,NaN,1,F,82.0,3,4,Research Director,3,Married,17169.0,26703,3,NaN,19,3.0,2,2,NaN,2,NaN,20,5,6,NaN,N
4,46,N,NaN,1319.0,NaN,3,3,Technical Degree,NaN,1,F,45.0,4,4,Sales Executive,1,Divorced,NaN,7739,2,N,12,3.0,4,1,NaN,5,3.0,19,2,8,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,36,Y,Travel_Rarely,530.0,NaN,3,1,Life Sciences,"967,0",3,M,51.0,2,3,Sales Executive,4,Married,10325.0,5518,1,NaN,11,NaN,1,1,NaN,6,3.0,16,3,7,NaN,N
1610,45,N,Non-Travel,805.0,NaN,4,2,NaN,"972,0",3,M,57.0,3,2,Laboratory Technician,2,NaN,4447.0,23163,1,NaN,12,3.0,2,0,NaN,5,2.0,9,0,8,NaN,Y
1611,39,N,Travel_Rarely,903.0,NaN,-13,5,NaN,NaN,13,M,41.0,4,3,Sales Executive,3,Single,NaN,2560,0,N,18,3.0,4,0,"9,0",3,3.0,8,0,7,NaN,Y
1612,36,N,Non-Travel,1229.0,NaN,8,4,Technical Degree,"990,0",1,M,84.0,3,2,Sales Executive,4,Divorced,NaN,25952,4,N,13,NaN,4,2,"12,0",3,3.0,7,0,7,NaN,Y
1613,46,N,NaN,566.0,NaN,7,2,Medical,NaN,4,M,75.0,3,3,Manufacturing Director,3,NaN,10845.0,24208,6,NaN,13,3.0,2,1,NaN,3,3.0,8,0,7,NaN,N

WorkLifeBalance, performace_rating y monthly_income quitar comas

In [16]:
columnas_sin_comas = ['work_life_balance','performance_rating','monthly_income']
for columna in columnas_sin_comas:
    rh[columna] = rh[columna].str.replace(",",".")

AttributeError: Can only use .str accessor with string values!

Todos los salarios  quitar $ y pasar tipo a int

In [17]:
columnas_sin_dollar = ['daily_rate']
for columna in columnas_sin_dollar:
    rh[columna] = rh[columna].str.replace('$','').str.replace(",",".")

rh[columna]
rh["daily_rate"]= rh["daily_rate"].astype(float)

AttributeError: Can only use .str accessor with string values!

Sustituimos el Not Available por nan en hourly_rate y convertimos a float:

In [ ]:
#rh['work_life_balance'].unique()

In [ ]:
# hourly_date
rh['hourly_rate']=rh['hourly_rate'].replace('Not Available', np.nan)
rh['hourly_rate']=rh['hourly_rate'].astype('float', errors='ignore')

In [ ]:
rh['hourly_rate'].dtypes

In [ ]:
#daily_rate = ok
#daily_rate = nan
# performance_rating = nan
# monthly_income = nan

Pasamos a float las columnas de monthly_income, performance_rating y work_life_balance (las demás object). daily_rate(float64)

In [ ]:
def pasar_a_float(elemento):
    try:
        return float(elemento)
    except (ValueError, TypeError):
        return np.NaN

lista_columnas = ['monthly_income', 'performance_rating', 'work_life_balance'] 

for columna in lista_columnas:
    rh[columna] = rh[columna].apply(pasar_a_float).astype('float')

# replace de not available por numpyNaN #especificar el texto que sale 
# gestion de nulos
# conversión

## Comprobamos los valores nulos:

In [ ]:
info_columnas = pd.concat([(rh.isnull().sum() / rh.shape[0]) * 100, rh.dtypes], axis=1)
info_columnas.columns = ['Porcentaje de Nulos','Tipos de Columnas']
info_columnas

# Comprobaciones

In [ ]:
rh.dtypes

In [ ]:
rh.describe(include=object)

In [ ]:
rh.describe()

In [ ]:
rh

In [ ]:
pd.set_option('display.max_rows', None)


rh['distance_from_home'].value_counts()

In [ ]:
rh['marital_status'].unique()

In [ ]:
rh.to_csv('datos_limpios.csv')

Errores tipográficos en algunos valores de las columnas categóricas. Por ejemplo, en la columna MaritalStatus en vez de "Married" en algunas filas aparece "Marreid".

In [18]:
rh['marital_status']= rh['marital_status'].replace({'Marreid':'Married'})

In [19]:
rh['marital_status'].unique()

array([nan, 'Married', 'Divorced', 'Single'], dtype=object)

Redondear a dos decimales (DistanceFromHome...)

In [ ]:
#No tiene decimales, son integer

distance_fromHome numero negativo

In [16]:
rh["distance_from_home"] = rh["distance_from_home"].where(rh["distance_from_home"] >= 0, np.nan)

#No admite NaN en columnas int, tienen que ser float, por lo que ha añadido .0 y no se puede cambiar, exige entonces cambiar los NaN

In [17]:
rh["distance_from_home"]

0       6.0
1       1.0
2       4.0
3       2.0
4       3.0
       ...
1609    3.0
1610    4.0
1611    NaN
1612    8.0
1613    7.0
Name: distance_from_home, Length: 1614, dtype: float64

total_working_years cambiar a float

In [20]:
rh['total_working_years'] = rh['total_working_years'].str.replace(",", ".")

rh['total_working_years'] = rh['total_working_years'].astype(float)

Poner marital_status - unknown

In [21]:
rh['marital_status'] = rh['marital_status'].replace(np.nan,'Unknown', regex = True)

worklife_balance , performace_rating - moda

In [22]:
media = rh['work_life_balance'].mean()
moda = rh['work_life_balance'].mode()[0]  
print(f'La media es {media}')
print(f'La moda es {moda}')

La media es 2.759628154050465
La moda es 3.0

In [23]:
rh['work_life_balance'] = rh['work_life_balance'].fillna(moda)

rh['work_life_balance'].isnull().sum()

0

environment_satisfaction quitamos el segundo dígito

In [24]:
rh['environment_satisfaction'] = rh['environment_satisfaction'].apply(lambda x: x // 10 if x > 9 else x)

Borrar: business_travel, employee_number , monthly_income, over_time, department, education_field, role_department, daily_rate

In [25]:
columnas = ['business_travel', 'employee_number' , 'monthly_income', 'over_time', 'department', 'education_field', 'role_departament', 'daily_rate']

rh.drop(columnas, axis = 1, inplace = True)

En age cambiar las edades de texto por num

In [28]:
rh["age"].unique()

array(['51', '52', '42', '47', '46', '48', '59', '41', '56', '38', '55',
       '40', '58', '35', '45', '33', '36', '34', '53', '43', '60', '32',
       '37', '49', '39', '50', '44', '30', '29', '31', '54', '57', '27',
       '28', '26', '25', '24', '23', '22', '21', '20', '19', '18'],
      dtype=object)

In [27]:
rh['age'] = rh['age'].replace("Forty-Seven", "47")
rh['age'] = rh['age'].replace("Fifty-Eight", "58")
rh['age'] = rh['age'].replace("Thirty-Six", "36")
rh['age'] = rh['age'].replace("Fifty-Five", "55")
rh['age'] = rh['age'].replace("Fifty-Two", "52")
rh['age'] = rh['age'].replace("Thirty-One", "31")
rh['age'] = rh['age'].replace("Thirty", "30")
rh['age'] = rh['age'].replace("Twenty-Six", "26")
rh['age'] = rh['age'].replace("Thirty-Seven", "37")
rh['age'] = rh['age'].replace("Thirty-Two", "32")
rh['age'] = rh['age'].replace("Twenty-Four", "24")

Hourly_rate sustituir nulos con KNN

In [34]:
from sklearn.impute import KNNImputer
imputer_knn = KNNImputer(n_neighbors = 5)
hourly_rate_knn = imputer_knn.fit_transform(rh[["hourly_rate"]])
hourly_rate_knn
rh[["hourly_rate_i"]] = hourly_rate_knn
rh[["hourly_rate_i"]].isnull().sum()

hourly_rate_i    0
dtype: int64

In [35]:
rh.describe()[["hourly_rate",'hourly_rate_i']]

       hourly_rate  hourly_rate_i
count  1614.000000    1614.000000
mean     66.028105      66.028105
std      19.653316      19.653316
min      30.000000      30.000000
25%      49.000000      49.000000
50%      66.028105      66.028105
75%      83.000000      83.000000
max     100.000000     100.000000

In [36]:
rh[["hourly_rate_i"]].isnull().sum()

hourly_rate_i    0
dtype: int64

In [37]:
columnas = ['hourly_rate']

rh.drop(columnas, axis = 1, inplace = True)

In [38]:
rh.rename(columns = {'hourly_rate_i': 'hourly_rate'}, inplace = True)

In [39]:
rh.columns

Index(['age', 'attrition', 'distance_from_home', 'education',
       'environment_satisfaction', 'gender', 'job_involvement', 'job_level',
       'job_role', 'job_satisfaction', 'marital_status', 'monthly_rate',
       'num_companies_worked', 'percent_salary_hike', 'performance_rating',
       'relationship_satisfaction', 'stock_option_level',
       'total_working_years', 'training_times_last_year', 'work_life_balance',
       'years_at_company', 'years_since_last_promotion',
       'years_with_curr_manager', 'remote_work', 'hourly_rate'],
      dtype='object')

In [40]:
info_columnas = pd.concat([(rh.isnull().sum() / rh.shape[0]) * 100, rh.dtypes], axis=1)
info_columnas.columns = ['Porcentaje de Nulos','Tipos de Columnas']
info_columnas

                            Porcentaje de Nulos Tipos de Columnas
age                                    0.000000            object
attrition                              0.000000            object
distance_from_home                    11.895911           float64
education                              0.000000             int64
environment_satisfaction               0.000000             int64
gender                                 0.000000            object
job_involvement                        0.000000             int64
job_level                              0.000000             int64
job_role                               0.000000            object
job_satisfaction                       0.000000             int64
marital_status                         0.000000            object
monthly_rate                           0.000000             int64
num_companies_worked                   0.000000             int64
percent_salary_hike                    0.000000             int64
performance_rating                    12.081784           float64
relationship_satisfaction              0.000000             int64
stock_option_level                     0.000000             int64
total_working_years                   32.589839           float64
training_times_last_year               0.000000             int64
work_life_balance                      0.000000           float64
years_at_company                       0.000000             int64
years_since_last_promotion             0.000000             int64
years_with_curr_manager                0.000000             int64
remote_work                            0.000000            object
hourly_rate                            0.000000           float64

In [41]:
rh.to_csv('datos_limpios_final.csv')