In [20]:
import pandas as pd
import numpy as np
import re

In [21]:
bd  = pd.read_csv("datos_limpios_final.csv", index_col = 0)
pd.set_option("display.max.columns", None)
bd

,age,attrition,distance_from_home,education,environment_satisfaction,gender,job_involvement,job_level,job_role,job_satisfaction,marital_status,monthly_rate,num_companies_worked,percent_salary_hike,performance_rating,relationship_satisfaction,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_since_last_promotion,years_with_curr_manager,remote_work,hourly_rate
0,51,N,6.0,3,1,M,3,5,Research Director,3,Unknown,6462,7,13,3.0,3,0,NaN,5,3.0,20,15,15,Y,51.0
1,52,N,1.0,4,3,M,2,5,Manager,3,Unknown,5678,0,14,3.0,1,1,34.0,5,3.0,33,11,9,Y,65.0
2,42,N,4.0,2,3,M,3,5,Manager,4,Married,4933,1,11,3.0,4,0,22.0,3,3.0,22,11,15,Y,58.0
3,47,N,2.0,4,1,F,3,4,Research Director,3,Married,26703,3,19,3.0,2,2,NaN,2,3.0,20,5,6,N,82.0
4,46,N,3.0,3,1,F,4,4,Sales Executive,1,Divorced,7739,2,12,3.0,4,1,NaN,5,3.0,19,2,8,N,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,36,Y,3.0,1,3,M,2,3,Sales Executive,4,Married,5518,1,11,NaN,1,1,NaN,6,3.0,16,3,7,N,51.0
1610,45,N,4.0,2,3,M,3,2,Laboratory Technician,2,Unknown,23163,1,12,3.0,2,0,NaN,5,2.0,9,0,8,Y,57.0
1611,39,N,NaN,5,1,M,4,3,Sales Executive,3,Single,2560,0,18,3.0,4,0,9.0,3,3.0,8,0,7,Y,41.0
1612,36,N,8.0,4,1,M,3,2,Sales Executive,4,Divorced,25952,4,13,NaN,4,2,12.0,3,3.0,7,0,7,Y,84.0
1613,46,N,7.0,2,4,M,3,3,Manufacturing Director,3,Unknown,24208,6,13,3.0,2,1,NaN,3,3.0,8,0,7,N,75.0

In [22]:
employees = ['age',
            'gender', 
            'marital_status']

employee_details = ['education',
                    'total_working_years',
                    'num_companies_worked']

company_relationship =['attrition',
                       'years_at_company',
                       'years_since_last_promotion',
                       'years_with_curr_manager']

satisfaction = ['environment_satisfaction',
                'relationship_satisfaction',
                'job_satisfaction',
                'job_involvement',
                'work_life_balance',
                'performance_rating']

job_role = ['job_role',
            'job_level',
            'training_times_last_year',
            'stock_option_level']

conditions = ['remote_work',
              'distance_from_home']

salary = ['hourly_rate',
          'monthly_rate',
          'percent_salary_hike']

In [23]:
bd.isnull().sum()

age                             0
attrition                       0
distance_from_home            192
education                       0
environment_satisfaction        0
gender                          0
job_involvement                 0
job_level                       0
job_role                        0
job_satisfaction                0
marital_status                  0
monthly_rate                    0
num_companies_worked            0
percent_salary_hike             0
performance_rating            195
relationship_satisfaction       0
stock_option_level              0
total_working_years           526
training_times_last_year        0
work_life_balance               0
years_at_company                0
years_since_last_promotion      0
years_with_curr_manager         0
remote_work                     0
hourly_rate                     0
dtype: int64

In [24]:
bd_employees = bd[employees]
bd_employee_details = bd[employee_details]
bd_company_relationship = bd[company_relationship]
bd_satisfaction = bd[satisfaction]
bd_job_role = bd[job_role]
bd_conditions = bd[conditions]
bd_salary = bd[salary]

In [25]:
bd_employees.to_csv('employees.csv')
bd_employee_details.to_csv('employee_details.csv')
bd_company_relationship.to_csv('company_relationship.csv')
bd_satisfaction.to_csv('satisfaction.csv')
bd_job_role.to_csv('job_role.csv')
bd_conditions.to_csv('conditions.csv')
bd_salary.to_csv('salary.csv')

In [26]:
bd.dtypes

age                             int64
attrition                      object
distance_from_home            float64
education                       int64
environment_satisfaction        int64
gender                         object
job_involvement                 int64
job_level                       int64
job_role                       object
job_satisfaction                int64
marital_status                 object
monthly_rate                    int64
num_companies_worked            int64
percent_salary_hike             int64
performance_rating            float64
relationship_satisfaction       int64
stock_option_level              int64
total_working_years           float64
training_times_last_year        int64
work_life_balance             float64
years_at_company                int64
years_since_last_promotion      int64
years_with_curr_manager         int64
remote_work                    object
hourly_rate                   float64
dtype: object